Hola Visitante!. Por favor dinos tu nombre y tu color favorito.

<form action="{{ path('task_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit">
</form>